// Menu
$menu_item_color: #777;
$menu_item_border_color: #0071b9;

$page_header_bg_color: #0071b9;
$page_header_text_color: #fff;
$docs-content_text_color: #123d62;

// Buttons
$button_bg_color: #0071b9;
$button_hover_bg_color: #204d74;
$button_text_color: #ffffff;

$divider-color: #eee;
$text-blue: #348dd9;
$h3-color: #123d62;